<div class="container">
    <center>
        <br>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">B</font><font color="white">ebidas</font>
        </h1>
        <hr>
        <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
        <br>
        <!-- Cierre -->
         <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
        <br>
        <!-- Cierre -->
         <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
        <br>
        <!-- Cierre -->
         <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
        <br>
        <!-- Cierre -->
         <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
        <br>
        <!-- Cierre -->
         <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
        <br>
        <!-- Cierre -->
         <div class="card-deck">
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            <div class="card">
                <img src="/imagenes/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Favoritos</button>
                </div>
            </div>
            
        </div>
    </center>
</div>