<div class="container">
    <center>
        <br>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">C</font><font color="white">omentarios</font>
        </h1>
        
            <div class="alert alert-light " style="width: 40rem;">
                <form action="/CookGolden/addcoment" method="POST">
                    <input type="text" name="id_usuario" value="4" hidden>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Comenta" name="comentario"></textarea>
                    
                    
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <button type="submit" class="btn btn-outline-success">Enviar</button>
                        </span>
                    </div>
                </div>
                </form>
                <hr>
            <div class="overflow-auto" style="height: 30rem;">
{{#each coment}}
                <div class="alert alert-dark" role="alert" style="width: 30rem;">
                    <h5>{{nombre}} {{apellido}}</h5>
                    <hr>
                    <p>{{comentario}}</p>
                </div>
                {{/each}}
                


            </div>
        </div>

    </center>
</div>