<div class="container">
    <center>
        <br>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">F</font><font color="white">avoritos</font>
        </h1>
        <hr>

        <div class="row">


            {{#each fav}}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card-deck">
                    <div class="card">
                <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-danger">Eliminar</button>
                </div>
            </div>
                </div>
                <br>
            </div>

            {{/each}}

        </div>

        </div>
    </center>
</div>