<div class="container">
    <br>
    <center>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">P</font><font color="white">erfil</font>
        </h1>
        <div class="alert alert-dark" style="width: 35rem;" role="alert">
            <img src="/imagenes/perfil.jpg">
            <hr>
            <h4 style="color: black;">Nombre & Apellido </h4>
            <p>
                <font style="color: black;" face="Georgia" size="4"> Sergio Alejandro Prieto Molano </font>
            </p>
             <h4 style="color: black;">Usuario </h4>
            <p>
                <font style="color: black;" face="Georgia" size="4"> Prieto21 </font>
            </p>
             <h4 style="color: black;">Contraseña </h4>
            <p>
                <font style="color: black;" face="Georgia" size="4"> 123456789 </font>
            </p>
            <button type="button" class="btn btn-outline-dark">Modificar</button>
        </div>
    </center>
</div>