<div class="container">
    <center>
        <br>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">P</font><font color="white">ostres</font>
        </h1>
        <hr>

        <div class="row">

            {{#each postres}}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card-deck">
                    <div class="card">
                <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <form action="/CookGolden/addfavorito" method="POST">
                    <input type="text" name="id_receta" value="{{id_receta}}" hidden>
                    <input type="text" name="id_usuario" value="14" hidden>
         
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-warning">Favoritos</button>
                </div>
                </form>
            </div>
                </div>
                <br>
            </div>

            {{/each}}

        </div>

        </div>
    </center>
</div>