<div class="container">
    <center>
        <br>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">C</font><font color="white">omentarios</font>
        </h1>
        
            <div class="alert alert-light " style="width: 40rem;">
                
                
            <div class="overflow-auto" style="height: 40rem;">
{{#each coment}}
                <div class="alert alert-dark" role="alert" style="width: 30rem;">
                    <h5>{{nombre}} {{apellido}}</h5>
                    <hr>
                    <p>{{comentario}}</p>
                    <button type="button" class="btn btn-outline-danger btn-block">Eliminar</button>
                </div>
                
                {{/each}}
                


            </div>
        </div>

    </center>
</div>