<div class="container">
    <br>
    <center>
     <h1>
            <font size="9" face="Georgia, Arial" color="#990000">N</font><font color="white">osotros</font>
        </h1>
        </center>
        <div class="alert " role="alert">
  <h3><font size="9" face="Georgia, Arial" color="#990000">V</font><font color="white">isión</font></h3>
  <hr>
  <p>
                <font style="color: white;" face="Georgia" size="4"> Ser percibidos por el consumidor como un referente que satisface sus necesidades en productos elaborados de alimentación.

Los ejes en torno a los que se organiza nuestro trabajo son:
<br>
La innovación.
<br>
Una materia prima de calidad.
<br>
Y, una producción plena y eficiente. </font>
            </p>
            <button type="button" class="btn btn-outline-dark btn-block"><font style="color: white;">Modificar</font></button>
            <button type="button" class="btn btn-outline-danger btn-block">Eliminar</button>
</div>
<br>
  <div class="alert " role="alert">
  <h3><font size="9" face="Georgia, Arial" color="#990000">M</font><font color="white">isión</font></h3>
  <hr>
  <p>
                <font style="color: white;" face="Georgia" size="4"> Ser percibidos por el consumidor como un referente que satisface sus necesidades en productos elaborados de alimentación.

Los ejes en torno a los que se organiza nuestro trabajo son:
<br>
La innovación.
<br>
Una materia prima de calidad.
<br>
Y, una producción plena y eficiente. </font>
            </p>
            
            <button type="button" class="btn btn-outline-dark btn-block"><font style="color: white;">Modificar</font></button>
            <button type="button" class="btn btn-outline-danger btn-block">Eliminar</button>
</div>
<div class="alert  " role="alert">
    <center>
    <table>
        <tr>
            <td>
                <a href="https://www.youtube.com"><img src="/imagenes/you.jpg" class="rounded-circle float-left" height="100"></a>
<br>
<h5><font  face="Georgia, Arial" color="#990000">Y</font><font color="white">ou<font  face="Georgia, Arial" color="#990000">T</font>ube</font></h5>
            </td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>

<a href="https://www.facebook.com/"><h5>
    <img src="/imagenes/face.jpg" class="rounded-circle mx-auto d-block" height="100">
    
    </a>
<font  face="Georgia, Arial" color="#990000">F</font><font color="white">acebook</font></h5>
            </td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>

<a href="https://www.instagram.com"><img src="/imagenes/ins.jpg" class="rounded-circle float-right" height="100"><br></a>
<h5><font  face="Georgia, Arial" color="#990000">I</font><font color="white">nstagram</font></h5>
            </td>
        </tr>
    </table>
</center>


</div>
</div>