<div class="container">
    <center>
        <br>
        <h1>
            <font size="9" face="Georgia, Arial" color="#990000">C</font><font color="white">hat  <font size="9" face="Georgia, Arial" color="#990000">O</font><font color="white">nline</font>
        </h1>
        
            <div class="alert alert-light " style="width: 40rem;">
                
                
            <div class="overflow-auto" style="height: 30rem;">
{{#each serv}}
                <div class="alert alert-dark" role="alert" style="width: 30rem;">
                    <h5>{{nombre}} {{apellido}}</h5>
                    <hr>
                    <p>{{chat}}</p>
                </div>
                {{/each}}
                


            </div>
            <hr>
            <form action="/CookGolden/addser/admin" method="POST">
                    <input type="text" name="id_usuario" value="5" hidden>
                    <input type="text" name="id_chat" value="1" hidden>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Escribe un mensaje" name="chat"></textarea>
                    
                    
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <button type="submit" class="btn btn-outline-success">Enviar</button>
                        </span>
                    </div>
                    
                </div>
                </form>
                <a href="/CookGolden/chatdelete">
                <button type="button" class="btn btn-outline-danger btn-block">Eliminar Chat</button>
                </a>
        </div>

    </center>
</div>